<h1>Main</h1>

<button class="btn btn-primary" ng-click="refresh()">Refresh</button>

<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th>Исполнитель</th>
			<th>Автор</th>
			<th>Название</th>
			<th>Альбом</th>
			<th>Текст</th>
			<th>Описание</th>
			<th>Жанр</th>
			<th>Метки</th>
			<th>Создание</th>
			<th>Обновление</th>
			<th>api</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="song in data.songs" ng-click="show_song(song)">
			<td>[[ song.singer ]]</td>
			<td>[[ song.author ]]</td>
			<td>[[ song.name ]]</td>
			<td>[[ song.album ]]</td>
			<td>[[ song.text ]]</td>
			<td>[[ song.description ]]</td>
			<td>[[ song.genre ]]</td>
			<td>[[ song.tags ]]</td>
			<td>[[ song.created ]]</td>
			<td>[[ song.updated ]]</td>
			<td>[[ song.api ]]</td>
		</tr>
	</tbody>
</table>