{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            <div class="page-header">
                  <h1>Добро пожаловать на проект</h1>
            </div>

            <p>

                Добро пожаловать. Этот проект зарождался как своеобразная площадка для тестирования возможностей node.js, но в дальнейшем, я надеюсь, это будет полноценный рабочий проект. Какая информация будет тут находиться - пока не решено... Вполне возможно это будет очередной блог, или сборник статей...


            </p>

            <a href="/" class="btn btn-default">Главная</a>
            <a href="/release" class="btn btn-default">История</a>
        </div>

    </div>




</div> <!-- /container -->

{% endblock %}
