<!DOCTYPE html>
<html lang="ru">
  	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Diver">
		<link rel="shortcut icon" href="/img/fav.png">

		<title>Diver`s nj application</title>

		


		<!-- Bootstrap core CSS -->
		<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

		<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

		{% block extra_head %}{% endblock %}


		<!-- style -->
		<link href="/css/style.css?version={{ VERSION }}" rel="stylesheet">




  	</head>







	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
		  	<div class="container">
				<div class="navbar-header">
			  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
			  		</button>
			  		<a class="navbar-brand" href="/">nj-diver</a>
				</div>

				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<!-- <li id="m_menu_songs"><a href="/songs/">Songs</a></li> -->
						{# <li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						  <ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						  </ul>
						</li> #}
					</ul>


					<ul class="nav navbar-nav navbar-right">
						<li><a href="/about">About</a></li>
					</ul>

				</div>
		  	</div>
		</div>



		{% block content %}
		{% endblock %}





















			<div style="height: 50px"></div>


			<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation">
				<div class="container">

					<div class="row">
						<div class="col-md-4">
							<p class="navbar-text">v {{ VERSION }} </p>
						</div>
						<div class="col-md-4">
							<p class="navbar-text pull-left" data-toggle="modal" data-target="#debugModal">	© 2014 - 2015 DeepStudio	</p>
						</div>
						<div class="col-md-4">
							<p class="navbar-text pull-right">	<a href="http://nj-diver.rhcloud.com/"><i class="icon-home"></i> self</a>	</p>
						</div>
					</div>



				</div>
			</nav>







		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

		
		{% block extra_body %}{% endblock %}
		<!-- scripts -->
	</body>
</html>
