





		<div style="height: 50px"></div>


		<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation">
			<div class="container">

				<div class="row">
					<div class="col-md-4">
						<p class="navbar-text">v 0.2.1 </p>
					</div>
					<div class="col-md-4">
						<p class="navbar-text pull-left" data-toggle="modal" data-target="#debugModal">	© 2014 DeepStudio	</p>
					</div>
					<div class="col-md-4">
						<p class="navbar-text pull-right">	<a href="http://nj-diver.rhcloud.com/"><i class="icon-home"></i> self</a>	</p>
					</div>
				</div>

				

			</div>
		</nav>








   
  	</body>
</html>




