{% extends "./base.html" %}

{% block extra_head %}

	<link rel="stylesheet" href="/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">

{% endblock %}




{% block content %}

<div ng-app="songsApp" ng-cloak>

	<div class="container">

		<div class="row">
			<div class="col-md-3">
				{# <div class="page-header">
  					<h3>Main menu</h3>
				</div> #}

				<div class="list-group">
				  	<a href="#/main" class="list-group-item activ1e" ng-class="{active: data.current_view == 'main'}">Главная</a>
				  	<a href="#/edit/0" class="list-group-item" ng-class="{active: data.current_view == 'edit'}">Создание</a>
				  	<a href="#/singers" class="list-group-item" ng-class="{active: data.current_view == 'singers'}">Исполнители</a>
				  
				</div>



				<div class="page-header">
  					<h5>Фильтр</h5>
				</div>


				<u>
					<li>
						<a href="javascript: void(0)" ng-click="data.filter.search.singer = ''">
							---
						</a>
					</li>
					<li ng-repeat="singer in data.singers">
						<!-- <a href="javascript: void(0)" ng-click="data.filter.search.singer = singer.name"></a> -->
						<!-- <a href="#/singer/[[ singer._id ]]" ng-click="select_singer(singer)"> -->
						<a href="javascript: void(0)" ng-click="select_singer(singer)">
							[[ singer.name ]]
						</a>
					</li>
				</u>


			</div>
			<div class="col-md-9">
				{# <div class="page-header">
  					<h3>Work field</h3>
				</div> #}
				<ng-view></ng-view>
				
			</div>
		</div>


	</div>

</div>
{% endblock %}


{% block extra_body %}

	<script type="text/javascript">
		$(document).ready(function(){
			$("#m_menu_songs").addClass('active');
		});
	</script>



	<!-- vendor -->
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.min.js"></script>

	<script src="/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>



	<script src="/js/songs/app.js?version={{ VERSION }}"></script>
	<script src="/js/songs/svc_data.js?version={{ VERSION }}"></script>
	<script src="/js/songs/ctrl_edit.js?version={{ VERSION }}"></script>
	<script src="/js/songs/ctrl_main.js?version={{ VERSION }}"></script>
	<script src="/js/songs/ctrl_song.js?version={{ VERSION }}"></script>
	<script src="/js/songs/ctrl_singer.js?version={{ VERSION }}"></script>
	<script src="/js/songs/ctrl_singers.js?version={{ VERSION }}"></script>

	

{% endblock %}